* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

/* // navbarvigetion // */

nav {
  width: 15%;
  height: 100vh;
  background-color: #27575b;
}

nav .logo {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

nav hr {
  margin: auto;
  width: 80%;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

ul li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0 0 0 10px;
  gap: 10px;
  list-style: none;
  color: white;
}
/* // featuer_system // */
.dashboard {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.dashboard:hover {
  transform: translateY(-2px);
  background-color: green;
}

.dashboard a {
  text-decoration: none;
  list-style: none;
  color: white;
  cursor: pointer;
}

.Logout {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Logout:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Logout a {
  text-decoration: none;
  color: white;
}

.product_setup {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.product_setup:hover {
  transform: translateY(-2px);
  background-color: green;
}

.product_setup a {
  text-decoration: none;
  color: white;
}

.Sales_Process {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Sales_Process:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Sales_Process a {
  text-decoration: none;
  color: white;
}

.Transaction_Record {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Transaction_Record:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Transaction_Record a {
  text-decoration: none;
  color: white;
}

.Receipt_Generation {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Receipt_Generation:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Receipt_Generation a {
  text-decoration: none;
  color: white;
}

.Sale_Repord {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Sale_Repord:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Sale_Repord a {
  text-decoration: none;
  color: white;
}

.Customer_management {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Customer_management:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Customer_management a {
  text-decoration: none;
  color: white;
}

/* //..Supper_Admin..// */
section {
  width: 90%;
  height: 100vh;
}

section .Supper_Admin {
  width: 100%;
  height: 60px;
  background-color: #fafafa;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.Supper_Admin .Admin {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  gap: 10px;
  margin-right: 20px;
}

.Admin h3 {
  font-weight: bold;
}

.Admin:hover {
  color: orange;
  cursor: pointer;
}

.Supper_Admin img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.container {
  background:#099d83;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 20px 30px;
  width: 900px;
  margin: auto;
  margin-top: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 15px;
  color: white;
}

.form-box {
  display: flex;
  gap: 25px;
}

.left img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

#file {
  display: block;
  font-size: 14px;
  color: white;
}

.right {
  flex: 1;
}

.form-group,
.form-group-inline {
  margin-bottom: 12px;
}

.form-group label,
.form-group-inline label {
  display: block;
  font-size: 14px;
  color: white;
  margin-bottom: 4px;
}

.form-group input,
.form-group select,
.form-group textarea,
.form-group-inline input,
.form-group-inline select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-group-inline {
  display: flex;
  gap: 15px;
}

textarea {
  resize: none;
}

.btn-group {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.btn {
  flex: 2;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn.update {
  background: green;
}

.btn.update:hover {
  background: rgb(103, 185, 103);
}

.btn.back a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.btn.back i{
    display: flex;
    margin: auto;
    gap: 10px;
}

.btn.back {
  background-color: #0069d9;
}